.register-box-container {
  max-width: 400px;
  height: auto;
  margin: 0 auto;
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--main-border-color);
  border-width: 0.5px;
}

.register-content {
  padding: 50px 0px;
  background-color: var(--background-color-gray);
}

.register-title {
  padding: 10px 20px;
  font-family: 'Ubuntu';
}

.register-form {
  max-width: 350px;
  align-items: center;
  margin: 0 auto !important;
}

.register-confirmpassword {
  margin: 0 !important;
}

.register-button-container {
  margin-top: 20px !important;
}

.register-login {
  text-align: center;
  margin-bottom: 20px;
}

.register-checkbox-text {
  display: inline-table;
  width: 300px;
  line-height: 25px;
}

.register-agreement {
  margin-bottom: 0px !important;
}

@media (max-width: 767px) {
  .register-box-container {
    border-style: none;
  }
}

@media(max-width: 450px) {
  .register-content {
    padding: 0;
  }
}