.register-box-container {
  width: 400px;
  height: auto;
  margin: 0 auto;
  border-style: solid;
  border-radius: 5px;
  border-width: 0.5px;
  transition: 0.3s all;
}

.register-box-container.light {
  background-color: var(--card-background-color);
  border-color: var(--main-border-color);
}


.register-box-container.dark {
  background-color: var(--card-background-dark);
  border-color: var(--card-background-dark);
}

.register-content {
  transition: 0.3s all;
  min-height: 90vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-content.light {
  background-color: var(--background-color-gray);
}

.register-content.dark {
  background-color: var(--main-background-dark);
}

.register-title {
  font-family: 'Ubuntu';
  padding: 10px 20px;
}

.register-form {
  max-width: 350px;
  align-items: center;
  margin: 0 auto !important;
}

.register-confirmpassword {
  margin: 0 !important;
}

.register-button-container {
  margin-top: 20px !important;
}

.register-login {
  text-align: center;
  margin-bottom: 20px;
}

.register-checkbox-text {
  display: inline-table;
  width: 300px;
  line-height: 25px;
}

.register-agreement {
  margin-bottom: 0px !important;
}

@media (max-width: 767px) {
  .register-box-container {
    border-style: none;
  }
}

@media(max-width: 450px) {
  .register-box-container {
    padding: 0;
  }
}