.regular {
  font-family: 'Ubuntu'
}

.bold {
  font-family: 'Ubuntu-bold';
  color: black;
}

.ant-layout-content {
  background: white;
}

.page-wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

.landing-title {
  padding: 10px;
}

@media (max-width: 792px) {
  .page-wrapper {
    padding: 0;
  }
}

.slide1 {
  background: url("https://static.pexels.com/photos/302889/pexels-photo-302889.jpeg") no-repeat center top/cover;
}

.slide2 {
  background: url("https://static.pexels.com/photos/302892/pexels-photo-302892.jpeg") no-repeat center top/cover;
}

.slide3 {
  background: url("https://static.pexels.com/photos/226633/pexels-photo-226633.jpeg") no-repeat center top/cover;
}