.projectdetail-story-container {
  display: flex;
  margin-bottom: 20px;
}

.projectdetail-story-rolecard-container {
  margin: 20px 0 !important;
}

.projectdetail-story-rolecard-description {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projectdetail-story-statercard-container {
  margin: 20px 0 !important;
}

.projectdetail-story-statercard {
  display: flex;
}

.projectdetail-story-statercard-avatar {
  align-self: center;
  margin: 10px !important;
}

@media (max-width: 1150px) {
  .projectdetail-story-container {
    display: block;
  }
}