.projectdetail-story-container {
  display: flex;
  margin-bottom: 20px;
}

.projectdetail-story-main {
  width: 70%;
  padding: 20px;
}

.projectdetail-story-sider {
  width: 30%;
  padding: 20px;
  border-left: 1px solid var(--main-border-color);
}

.projectdetail-story-rolecard-container {
  margin: 20px 0 !important;
}

.projectdetail-story-rolecard-description {
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projectdetail-story-statercard-container {
  margin: 20px 0 !important;
}

.projectdetail-story-statercard {
  display: flex;
}

.projectdetail-story-statercard-avatar {
  align-self: center;
  margin: 10px !important;
}

@media (max-width: 1150px) {
  .projectdetail-story-container {
    display: block;
  }
  .projectdetail-story-main {
    width: 100%;
    padding: 20px;
  }
  .projectdetail-story-sider {
    width: 100%;
    padding: 20px;
    border-left: none;
  }
}