.start-project-container {
  text-align: center;
  margin: 40px 0px;
}
.start-project-button {
  font-size: 14px !important;
  font-family: 'Ubuntu-Bold';
  background: var(--main-accent-color) !important;
  border-color: var(--main-accent-color) !important;
  margin: 20px 0px;
}

.start-project-button:hover {
  background: var(--main-accent-hover) !important;
  border-color: var(--main-accent-hover) !important;
}
