@import '~antd/dist/antd.css';
@font-face {
  font-family: 'Ubuntu';
  src: url("/font/Ubuntu-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url("/font/Ubuntu-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-border-color: rgb(190, 190, 190);
  --main-accent-color: #4BD4FF;
  --main-accent-hover: #87E2FF;
  --bg-loading: rgba(0,0,0,0.5);
  --bg-box-loading: #ffffff;
  --background-color-gray: #F1F1F1;
}

.header-container {
  background-color: white;
  padding: 0px;
}

.ant-layout-footer {
  background-color: white;
}

.regular {
  font-family: 'Ubuntu'
}

.bold {
  font-family: 'Ubuntu-bold';
  color: black;
}
