@import '~antd/dist/antd.css';
@font-face {
  font-family: 'Ubuntu';
  src: url("/font/Ubuntu-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url("/font/Ubuntu-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.layout {
  height: 100vh;
  width: 100vw;
}

.sider {
  background: none;
}

.header-container {
  background-color: white;
  padding: 0px;
}

.ant-layout-footer {
  background-color: white;
}