.projectdetail-updates-container {
  display: flex;
  margin-bottom: 20px;
}

.projectdetail-timeline.sticky {
  position: fixed;
  top: 250px;
}

@media (max-width: 1150px) {
  .projectdetail-updates-container {
    display: block;
  }
  .projectdetail-sider {
    display: none;
  }
}