.landing-carousel-container {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 0.5px solid var(--main-border-color);
  margin-bottom: 10px;
}

.carousel-content-container {
  margin-left:40px;
  border-left: 1px solid var(--main-border-color);
  padding: 10px 40px 40px 40px;
}

.carousel-content-title .ant-typography {
  margin: 0;
}

.carousel-content-sub-title, .carousel-content-description {
  margin-left: 12px;
}

.carousel-content-description {
  max-width: 500px;
  margin-top: 10px;
  height: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel-content-starter-container {
  display: flex;
  margin-top: 40px;
}

.carousel-content-starter-detail {
  flex-direction: column;
  margin-left: 10px;
}
.carousel-content-starter-name {
  font-size: 16px;
  float: right;
}

.carousel-content-learnmore {
  margin-top: 10px;
  margin-left: 10px;
}

.carousel-content-static {
  margin-right: 5px;
}

.carousel-content-level {
  margin-right: 10px;
}

@media (max-width: 1150px) {
  .carousel-content-description {
    height: auto;
  }
  .landing-carousel-container {
    display: block;
    padding-bottom: 10px;
  }
  .carousel-content-container {
    border: none;
    border-top: 1px solid var(--main-border-color);
    margin: 0;
    padding: 15px 0;
  }
}

@media (max-width: 792px) {
  .carousel-content-container {
    border: none;
    border-top: 1px solid var(--main-border-color);
    margin: 0;
    padding: 15px 15px;
  }
}